.nav {
    width: 15%;
    min-width: 140px;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: $primary-color;
p, ul, ol, dl {
    list-style-type: none;
    }
a:hover {
    text-decoration: underline;
    color: $primary-color;
    }
    }